*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: calc(100vh - 100px);
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    max-width: 900px;
    margin: 100px auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1#title{
    font-size: 4rem;
    text-align: center;
}

form#add-form, section#todos-list{
    margin-top: 20px;
    padding: 2rem;
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0.4);
}

form#add-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightskyblue;
}

form input{
    display: inline-block;
    width:80%;
    margin-bottom: 1rem;
    margin: auto;
    height: 2.5rem;
    padding: 1rem;
    background-color: rgb(245, 242, 238);
    border: 1px solid;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
}

form button{
    border: none;
} 

span.add-icon{
    font-size:30px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: rgb(27, 168, 27);
    align-items: center;
    background-color:#d0edef;
    cursor:pointer;
    border-radius: 50px;
    
}


section#todos-list h2{
    text-align: center;
    margin-bottom: 10px;
}

section .card{
    display: flex;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgb(255, 254, 254);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px;

}

button.delete-btn, button#add-btn {
/* font-size:36px;
width: 70px;
height: 50px;
color: rgb(32, 118, 203); */
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
border: none;

}

button.delete-btn{
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

span.add-icon{
    color: rgb(226, 229, 232);
    background-color: #3353d4;

}

span.delete-icon{

     cursor: pointer;
     color: rgb(234, 234, 234);
     background-color: red;
    
     

}

#stats{
    margin-top: 30px;
}

.completed{
    color: green;
}

.total{
    color: blue;
}
